- agenda.sections.each do |section|
  %h2= section.title
  %span= section.date
  
  %ul
    - section.vaccinations.each do |vaccination|
      %li
        A partir del
        = vaccination.date
        la dosis
        = vaccination.name
        de
        = vaccination.vaccine_name
        para
        = vaccination.child_name
        \:
        = vaccination.status
  %hr