- agenda.sections.each do |section|
  %section.white
    %h2= section.title
    %hr
    
    %ul
      - section.vaccinations.each do |vaccination|
        %li
          = render_vaccination_status(vaccination)
          = "#{vaccination.name} de #{vaccination.vaccine_name} a #{vaccination.child_name}"
          = l(vaccination.date, format: section.vaccination_date_format) if vaccination.status.taken?
          