- agenda.sections.each do |section|
  %section.white
    %h2= section.title
    %hr
    
    %ul
      - section.vaccinations.each do |vaccination|
        %li
          El
          = l(vaccination.date, format: section.vaccination_date_format)
          la dosis
          = vaccination.name
          de
          = vaccination.vaccine_name
          para
          = vaccination.child_name
          \:
          .dropdown
            = link_to vaccination.status.text, '#', class: "dropdown-toggle vaccination-#{vaccination.status}", 'data-toggle' => 'dropdown'
            %ul.dropdown-menu{role: 'menu'}
              - Vaccination.status.options.each do |label, value|
                %li= link_to label, '#', 'class' => "vaccination-#{vaccination.status}",'data-vaccination-status' => value

