.calendar-edit.nodisplay
  = form_for calendar_form, builder: BootstrapFormBuilder, remote: true do |f|
    = f.text_field :child_name, required: true, label: 'Nombre'
    = f.text_field :child_date_of_birth, value: l(calendar_form.child_date_of_birth, format: :default), required: true, class: 'ux-datepicker-past', label: 'Fecha de Nacimiento'

    .vaccines
      %h4 Vacunas
      - calendar_form.vaccines.each do |vaccine|
        .vaccine
          = vaccine.name
          - unless vaccine.diseases_list.blank?
            %span= vaccine.diseases_list
          = f.fields_for :vaccines, vaccine do |fv|
            = fv.hidden_field :subscription_id
            = fv.check_box :enabled

    = f.actions do
      = f.submit 'Salvar', class: 'btn btn-primary'
      = link_to 'Cancelar', '#', class: 'cancel-configure-calendar btn'