- content_for :topbar do
  .row-fluid
    .span3
      %h1 Mi Cuenta
    .span5
      #add-new-child
        %a.btn-link.blue{:href => "#"}
          %span.btn-square
            %i.ics-plus
        = link_to 'Registrar hijo', '#'
      #new-child-form.collapse.out
        = render_new_child_form
    .span4.dashboard-tabs
      .btn-group{'data-toggle' => 'buttons-radio'}
        = tab_button 'Calendario', 'calendars', active: @active_tab == 'calendars', disabled: @children.empty?
        = tab_button 'Agenda', 'agenda', active: @active_tab == 'agenda', disabled: @children.empty?

- content_for :sidebar do
  %section.trans
    = render_channels(current_subscriber, :email)
  %section.trans
    = render_channels(current_subscriber, :sms)

- content_for :content do
  #dashboard-tab-content.tab-content{nodisplay_if(@children.empty?)}
    = tab_pane id: 'calendars', active: @active_tab == 'calendars' do
      - @children.each do |child|
        = render_calendar(child)

    = tab_pane id: 'agenda', active: @active_tab == 'agenda' do
      = render_agenda(current_subscriber)

  #empty-dashboard{nodisplay_if(@children.any?)}
    %h2 Aún no has registrado a ninguno de tus hijos
    %p
      Registra a uno de tus hijos en Inmuniversia para mantener sus calendarios
      %br/
      y agenda de vacunación.