.agenda-entry{'data-vaccination-id' => vaccination.id, 'data-date-format' => date_format}
  = render_vaccination_status(vaccination)
  %span
    - p vaccination
    = vaccination.full_description_part1
    = link_to vaccination.vaccine_name, vaccine_path(vaccination.vaccine_id)
    = vaccination.full_description_part2
    - if vaccination.status.taken?
      aplicada el
      = link_to l(vaccination.date, format: date_format), '#', class: 'ux-datepicker-past'
