.comment-form{:id => "comment_form_#{comment.parent_id}"}
  = form_for comment, builder: BootstrapFormBuilder, :remote => true do |f|
    = f.text_area :body, :label => false, :cols => 25, :rows => 5
    = f.hidden_field :parent_id, :value => comment.parent_id
    = f.hidden_field :commentable_id, :value => comment.commentable_id
    = f.hidden_field :commentable_type, :value => comment.commentable_type
    = f.button 'Comentar', :class => "btn btn-primary", :disable_with => "Agregando..."
    = link_to "Cancelar", '#', id: 'cancel-add-new-child', :onclick => "cancelAddComment(event,#{comment.parent_id})", class: 'btn' unless comment.parent_id.nil?