= form_for(resource, :builder => BootstrapFormBuilder, :as => :subscriber, :url => path) do |f|
  / = devise_error_messages!
  = f.hidden_field :id
  .control-group
    .controls
      .row-fluid
        .span6
          = f.label :nombre
          = f.text_field :first_name, :class => 'span12', :required => true
        .span6
          = f.label :apellido
          = f.text_field :last_name, :class => 'span12', :required => true
  .control-group
    .controls
      = f.label :email
      = f.email_field :email, :class => 'span12', :required => true, :disabled => edit
  .control-group
    .controls
      = f.label :codigo_postal, "C칩digo postal"
      = f.text_field :zip_code, :class => 'span12', :required => true
  .control-group
    .controls
      = f.label :password, "Contrase침a"
      - if edit
        %p.blue{style: "font-size:8pt;"}
          Si no queres cambiar tu contrase침a, dejala en blanco
      = f.password_field :password, :class => 'span12', :required => !edit
  .control-group
    .controls
      = f.label :confirmacion_del_password, "Confirmar contrase침a"
      = f.password_field :password_confirmation, :class => 'span12', :required => !edit
  .control-group
    .controls
      = f.submit (edit ? "Guardar" : "Siguiente"), :class => 'btn btn-primary'
      - if edit
        = link_to "Cancelar", root_path, :class => 'btn'
