= form_tag(path) do
  = hidden_field_tag :id, channel.id
  = hidden_field_tag :old_sms_subscriber_id, old_sms_subscriber_id
  .control-group
    .controls
      - if old_sms_subscriber_id
        Encontramos que este celular ya se estaba usando para recibir notificaciones en Inmuniversia. Deseas cargar los datos en la nueva cuenta?
        %br
        = radio_button_tag :answer, true, true
        Si
        = radio_button_tag :answer, false
        No
        %br
        %br
      = render "verification_code_header", resend: resend, error: error, channel: channel
      = hidden_field_tag :from_dashboard, from_dashboard
      = label_tag :codigo
      = text_field :verification_code, ""
      = submit_tag "Ok", :class => "btn btn-small btn-primary"