- content_for :topbar do
  %h1 Crear una cuenta

- content_for :body do
  .registration
    .row-fluid
      .span4
        .registration-steps
          = render "sign_up_steps", :step => 3, :from_dashboard => @from_dashboard
          = render "verification_code_form", :path => subscribers_submit_verification_code_path, :channel => @channel, :old_sms_subscriber_id => @old_sms_subscriber_id, resend: @resend, error: @error, from_dashboard: @from_dashboard
          .control-group
            .controls
              - unless @resend
                = link_to subscribers_add_mobile_number_and_send_verification_code_path(:channel_sms_resend => @channel, :channel_sms =>{ from_dashboard: @from_dashboard}), class: "btn-link", method: 'POST' do
                  %i.ics-refresh
                  No recibí el código
                %br
              = link_to subscribers_mobile_configuration_path(), class: "btn-link" do
                %i.ics-pencil
                Cambiar el Número
      .span8
        = render "side_text"