- content_for :topbar do
  %h1 Crear una cuenta

- content_for :body do
  .registration
    .row-fluid
      .span4
        .registration-steps
          = render "sign_up_steps", :step => 3
          = render "verification_code_header", resend: @resend, error: @error, channel:@channel
          = form_tag(subscribers_submit_verification_code_path) do
            = hidden_field_tag :id, @channel.id
            = hidden_field_tag :old_sms_subscriber_id, @old_sms_subscriber_id
            .control-group
              .controls
                = label_tag :codigo
                = text_field :verification_code, ""
                = submit_tag "Ok", :class => "btn btn-small btn-primary"
          .control-group
            .controls
              - unless @resend
                = link_to subscribers_add_mobile_number_and_send_verification_code_path(:channel_sms_resend => @channel), class: "btn-link", method: 'POST' do
                  %i.ics-refresh
                  No recibí el código
                %br
              = link_to subscribers_mobile_configuration_path(), class: "btn-link" do
                %i.ics-pencil
                Cambiar el Número
      .span8
        = render "side_text"