- content_for :topbar do
  %h1 Crear una cuenta

- content_for :body do
  .registration
    .row-fluid
      .span4
        .registration-steps
          = render "sms_steps", :step => 3
          / Separar esto a una partial que recibe el subscriber, y el path
          %p Ingrese los siguientes datos para completar su cuenta en Inmuniversia
          = form_for(@subscriber, :as => :subscriber, :url => subscribers_update_sms_user_path) do |f|
            = devise_error_messages!
            = f.hidden_field :id
            .control-group
              .controls
                .row-fluid
                  .span6
                    = f.label :nombre
                    = f.text_field :first_name, :class => 'span12'
                  .span6
                    = f.label :apellido
                    = f.text_field :last_name, :class => 'span12'
            .control-group
              .controls
                = f.label :email
                = f.email_field :email, :class => 'span12'
            .control-group
              .controls
                = f.label :codigo_postal, "Código postal"
                = f.text_field :zip_code, :class => 'span12'
            .control-group
              .controls
                = f.label :password, "Contraseña"
                = f.password_field :password, :class => 'span12'
            .control-group
              .controls
                = f.label :confirmacion_del_password, "Confirmar contraseña"
                = f.password_field :password_confirmation, :class => 'span12'
            .control-group
              .controls
                = f.submit "Siguiente", :class => 'btn btn-primary'

      .span8
        = render "links"
        = render "side_text"