<% content_for :body_content_title do %>
  <%= @vaccine.name %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @vaccine.name %>
    </p>
  </section>
  <section>
    <h1>Vaccine Type</h1>
    <p>
      <%=raw @vaccine.vaccine_type %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @vaccine.description %>
    </p>
  </section>
  <section>
    <h1>Photo</h1>
    <p>
      <%= image_fu @vaccine.photo, nil %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="vaccines">
      <% @vaccines.each do |vaccine| %>
        <li>
          <%= link_to vaccine.name, refinery.vaccines_vaccine_path(vaccine) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
