- content_for :topbar do
  .row-fluid.static-bar{"data-offset-top" => "65", "data-spy" => "affix"}
    .span3
      %h1= @vaccine.name
    .span9
      %ul.nav.nav-pills.info-bar
        %li 
          %a{:href => "#informacion-general", "data-toggle" => "tab"} Información general
        %li 
          %a{:href => "#recomendaciones", "data-toggle" => "tab"} Recomendaciones
        %li 
          %a{:href => "#efectos-secundarios", "data-toggle" => "tab"} Efectos secundarios
        %li 
          %a{:href => "#mas-informacion", "data-toggle" => "tab"} Más información

- content_for :sidebar do
  %section
    %h2 Enfermedad/es que previene
    %hr
    %ul#diseases
      - @vaccine.diseases.each do |disease|
        %li
          = link_to disease.name, refinery.vaccines_disease_path(disease)
  %section
    %h2 Dosis
    %hr
    = raw @vaccine.doses_info
  %section
    %h2 Nombre comercial
    %hr
    = raw @vaccine.commercial_name

- content_for :content do
  %section
    %a{:name => "informacion-general"}
    %h2 Información general
    = raw @vaccine.general_info
  %hr
  %section
    %a{:name => "recomendaciones"}
    %h2 Recomendaciones
    = raw @vaccine.recommendations
  %hr
  %section
    %a{:name => "efectos-secundarios"}
    %h2 Efectos secundarios
    = raw @vaccine.side_effects
  %hr
  %section
    %a{:name => "mas-informacion"}
    %h2 Más información
    = raw @vaccine.more_info