- content_for :topbar do
  .row
    .span3
      %h1
        = raw @vaccine.name
    .span9
      %ul#vaccines
        - @vaccines.each do |vaccine|
          %li
            = link_to vaccine.name, refinery.vaccines_vaccine_path(vaccine)

- content_for :sidebar do
  %section
    %h3 Nombre comercial
    %hr
    %p
      = raw @vaccine.commercial_name
  %section
    %h3 Dosis
    %hr
    %p
      = raw @vaccine.doses_info
  %section
    %h3 Más información
    %hr
    %p
      = raw @vaccine.more_info
  %section
    %h3 Enfermedad/es que previene
    %hr
    %ul#diseases
      - @vaccine.diseases.each do |disease|
        %li
          = link_to disease.name, refinery.vaccines_disease_path(disease)

- content_for :content do
  %section
    %h2 
      = raw @vaccine.commercial_name
    %p
      = raw @vaccine.general_info
  %hr
  %section
    %h2 Recomendaciones
    %p
      = raw @vaccine.recommendations
  %hr
  %section
    %h2 Efectos secundarios
    %p
      = raw @vaccine.side_effects