- content_for :sidebar do
  %h2 Enfermedades
  %ul#diseases
    - @diseases.each do |disease|
      %li
        = link_to disease.name, refinery.vaccines_disease_path(disease)

- content_for :content do
  %h1= @disease.name
  %section
    %h1 Resumen
    %p
      = raw @disease.summary
  %section
    %h1 Transmision
    %p
      = raw @disease.transmission
  %section
    %h1 Diagnostico
    %p
      = raw @disease.diagnosis
  %section
    %h1 Tratamiento
    %p
      = raw @disease.treatment
  %section
    %h1 Estadisticas
    %p
      = raw @disease.statistics
  %section
    %h2 Vacunas que previenen esta enfermedad
    %ul#diseases
      - @disease.vaccines.each do |vaccine|
        %li
          = link_to vaccine.name, refinery.vaccines_vaccine_path(vaccine)
