!!!
= render '/refinery/html_tag'
- site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'
%body
  = site_bar # This is the only section we do need to keep
  = render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  .wrapper
    .header
      .container
        = render '/refinery/header'
    .content
      .container
        = yield(:body).presence || yield
    .footer
      .container
        = render '/refinery/footer'
  = render '/refinery/javascripts'
